.row-items {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  font-weight: 300;
  color: white;
  border-radius: 3px;
}

.add-button {
  outline: none;
}

.top-divider {
  margin-top:15px;
  margin-bottom:15px;
}

.edit-button {
  color:white;
  border: 0;
  background-color: transparent;
  outline: none;
}

.export-button-label {
  margin-left: 10px;
}
